html, body, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
   padding: 0;
}
#map {
    height: 100vh;
    position:relative;
}

.leaflet-control-zoom-out {
    background-color: #edd7c0 !important;
}
.leaflet-control-zoom-in {
    background-color: #edd7c0 !important;
}

.marker-list-box {
    /*
    overflow: auto;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    */
}

.tab-buttons{
    display:flex;
}

.tab-content{
    margin : 0px;
    padding : 10px;
    background-color: #fff1dc;
    border : 2px solid rgba(0,0,0,0.2);
    max-width: 40vw;
    max-height: 60vh;
    overflow: auto;
}
.checklist {
    list-style-type: none;
}

#box-list {
    position:absolute;
    top:0px;
    left:0px;
    margin: 10px 10px 10px 60px;
    z-index:1000;
    display: grid;
}

.leaflet-marker-icon {
    filter : invert(0.8)
}

.tab-content input {
    background-color: #edd7c0;
}
.marker-highlight {
    filter: invert(0.9);
}

.tablink {
    background-color: #edd7c0;
}
.tab-selected {
    color:#b55b29;
    background-color: #edd7c0;
}



.popuptitle { 
    text-align: center;
}
.popup { 
    list-style-type: none;
}
.popuplesdeux a { 
 color: #b55b29;
}
.popupreception a { 
 color: green;
}
.popupdestinataire a {
 color: #b55b29;
}
.popupmention a {
 color: #edd7c0;
}