html, body, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
   padding: 0;
}
#map {
    height: 100vh;
    position:relative;
}

.marker-list-box {
    /*
    overflow: auto;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    */
}

.tab-buttons{
    display:flex;
}

.tab-content{
    margin : 0px;
    padding : 10px;
    background-color: white;
    border : 2px solid rgba(0,0,0,0.2);
    max-width: 40vw;
}
#marker-list {
    list-style-type: none;
}

#box-list {
    position:absolute;
    top:0px;
    left:0px;
    margin: 10px 10px 10px 60px;
    z-index:1000;
    display: grid;
}

.marker-highlight {
    filter: saturate(3);
}

.tab-selected {
    color:red;
}