html, body{
    margin: 0;
   padding: 0;
}
#map {
    height: 100vh;
    position:relative;
}

#marker-list-box {
    overflow: auto;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    margin : 20px;
    padding: 20px;
}

#marker-list {
    list-style-type: none;
}

#box-list {
    position:absolute;
    top:20px;
    left:20px;
    z-index:1000;
    display: grid;
    margin : 20px;
}